{{#leaflet-map lat=40.7 lng=-74 zoom=7 class="map" zoomControl=false}}
  {{tile-layer url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}

  {{#each places as |p|}}
    {{#marker-layer lat=p.lat lng=p.lon}}
      {{#popup-layer}}
      <h3>{{ p.name }}</h3>
      {{/popup-layer}}
    {{/marker-layer}}
  {{/each}}

  {{yield}}
{{/leaflet-map}}
