<div class="btn-group btn-group-sm" role="group" aria-label="Book buttons">
  <button class="btn btn-primary" type="button"
    data-target="#instances-list" data-toggle="collapse" 
    aria-expanded="false" aria-controls="instances-list">
    Show instances
  </button>
  {{#link-to "instances.new" class="btn btn-primary" tagName="button"}}New instance{{/link-to}}
  <button class="btn btn-primary" type="button">
    Download geodata
  </button>
</div>
