<span id="card-header-text">{{{header}}}</span>
<button type="button" class="close" 
  aria-label="Minimize main card"
  data-toggle="collapse" data-target="#outlet-card-body">{{fa-icon "arrows-alt-v"}}</button>
