<div id="instances-list-header" class="row">
  <div class="col-2">
    Control
  </div>
  <div class="col-2">
    Position
  </div>
  <div class="col-8 pl-0">
    Place name in text
  </div>
</div>
{{#each instances as |instance|}}
{{instance-row instance=instance}}
{{/each}}
