@import "ember-bootstrap/bootstrap";

.map {
  height: 100vh; //calc(100vh - 56px);
  position: sticky;
  top: 0;
}

#above-map {
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

#outlet-card {
  background-color: rgba(255,255,255,0.6);
  max-height: 80vh; 
}

#outlet-card-body {
  overflow-y: scroll; 
}

@media (min-width: 768px) {
  #above-map {
    width: 75vw;
  }
}

@media (min-width: 992px) {
  #above-map {
    width: 50vw;
  }
}

