<h4 class="mt-3">Create new instance</h4>
{{instance-form readonly=false instance=model.instance book=model.book}}
{{!instance-form book=book prefill=lastInstance submitAction=(action "createInstance")}}
