<div id="above-map">
{{ navigation-bar }}
  <div id="outlet-card" class="m-3 card border-dark align-self-center">
    {{card-header}}
    <div id="outlet-card-body" class="card-body collapse show text-dark">
      {{ outlet }}
    </div>
  </div>
</div>
{{#big-map places=places}}
{{/big-map}}
