<div id="above-map">
  {{ navigation-bar }}
  <div class="container"> 
    <div id="outlet-card" class="card p-3 align-self-center">
      {{ outlet }}
    </div>
  </div>
</div>
{{#big-map places=places}}
{{/big-map}}
